.calendar__table {
  width: 100%;
  height: 5%;
}
.calendar__table td {
  padding: 10px;
  border: 1px solid #ccc;
  vertical-align: top;
  width: 12.5%;
  height: 5%;
}

.calendar__hours {
  width: 5%;
}

.calendar__table .calendar__table--6weeks td {
  height: 5%;
}

.calendar__weekday {
  font-weight: bold;
  color: #000;
  font-size: 1.2em;
}

.calendar__day {
  font-size: 1.3em;
}

.calendar__othermonth .calendar__day {
  opacity: 0.5;
}

.calendar__activity {
  background-color:#8edcf2;
}