body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .parallax {
    /* The image used */
    background-image: url('/AeroClub/Images/Avion1.jpg');
  
    /* Full height */
    width: 100%; 
    height: 50%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }